<ion-view>
  <div class="bar bar-header">
      <h1 class="title">Treasure Hunts</h1>
      <a class="button button-clear button-positive" href="#/edit">Add</a>
    </div>
    <ion-content class="has-header">
<div class="list card">
  <a class="item item-avatar item-icon-right" href="#/clue">
    <img src="mcfly.jpg">
    <h2>Treasure Hunt ABC</h2>
    <p>12 December 2014</p>
    <i class="icon ion-chevron-right"> </i>
  </a>
  <a class="item item-avatar item-icon-right" href="#/clue">
    <img src="mcfly.jpg">
    <h2>Tom's Birthday Hunt</h2>
    <p>30 October 2010</p>
    <i class="icon ion-chevron-right"> </i>
  </a>
</div>
    </ion-content>
</ion-view>
