<ion-view title="Treasure Hunt">
  <div class="bar bar-header">
    <a class="button button-clear button-positive" href="#/details">Cancel</a>
    <h1 class="title">Create Treasure Hunt</h1>
    <button class="button button-clear button-positive" ng-click="save()">Save</button>
  </div>
  <ion-content class="has-header">
    <ion-list show-delete="true" show-reorder="false">
      <div class="item item-divider item-thumbnail-right">
        <span>Clues</span>
      </div>
      <ion-item ng-repeat="clue in treasureHunt.clues" class="item-thumbnail-left">
        <img src="{{clue.image}}"/>
        <h2>Clue {{$index + 1}}</h2>
        <p>{{clue.riddle}}</p>
        <ion-delete-button class="ion-minus-circled"
                       ng-click="deleteClue($index)">
    </ion-delete-button>
      </ion-item>
      <ion-item ng-click="$state.go('edit')" class="item-thumbnail-left">
        <h2>Add a New Clue</h2>
        <p>Add a new clue to the treasure hunt</p>
        <ion-delete-button class="ion-plus-circled" style="color: green;" ng-click="addClue()"> </ion-delete-button>
      </item>
    </ion-list>
  </ion-content>
</ion-view>
