<ion-view title="Treasure Hunt">
<div class="bar bar-header">
  <a class="button button-clear button-positive" href="#/">Cancel</a>
  <h1 class="title">Edit Treasure Hunt ABC</h1>
  <a class="button button-clear button-positive" href="#/details">Done</a>
</div>
    <ion-content class="has-header">
      <h2>Edit treasure hunt</h2>
          <p>Title:_________________________</p>
          <p>Clues:<p>
            <ul>
              <li><a href="#/clue">Clue 1</a></li>
              <li><a href="#/clue">Clue 2</a></li>
            </ul>
            <a class="button button-clear button-positive button-outline" href='#/clue'>Add a clue</a>
    </ion-content>
</ion-view>
