<ion-view title="Treasure Hunt">
  <div class="bar bar-header">
    <a class="button button-clear button-positive" ng-if="isEditable" ng-click="cancel()">Cancel</a>
    <a class="button button-clear button-positive" ng-if="!isEditable" ui-sref="list">Back</a>
    <h1 class="title">Treasure Hunt</h1>
    <button class="button button-clear button-positive" ng-if="isEditable" ng-click="save()">Save</button>
    <button class="button button-clear button-positive" ng-if="isEditable" ng-click="edit()">Edit</button>
  </div>
  <ion-content class="has-header">
    <h3 ng-if="!isEditable">{{clue.title}}</h3>
    <h3 ng-if="isEditable"></h3>
    <div id="button-group" class="button-bar" style="text-align: center;">
      <button class="button button-positive button-clear" ng-click="addClue()"><i class="icon ion-plus-circled"> </i> Create Clue</button>
      <button class="button button-clear button-positive" ng-click="play()" ng-if="!isEditable"><i class="icon ion-play"> </i> Play</button>
    </div>
    <ion-list show-delete="isEditable" show-reorder="false">
      <div class="item item-divider item-thumbnail-right">
        <span>Clues</span>
      </div>
      <ion-item ng-repeat="clue in treasureHunt.clues" class="item-card item-thumbnail-left" ng-click="editClue($index)">
        <img src="{{clue.image}}"/>
        <h2>Clue {{$index + 1}}</h2>
        <p>{{clue.riddle}}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteClue($index)"> </ion-delete-button>
      </ion-item>
    </ion-list>
    <div style="text-align: center;">
    </div>
  </ion-content>
</ion-view>
