<ion-view title="Treasure Hunt">
  <div class="bar bar-header">
    <a class="button button-clear button-positive" href="#/edit">Cancel</a>
    <h1 class="title">Edit Clue</h1>
    <button class="button button-clear button-positive" ng-click="save()">Save</butotn>
  </div>
    <ion-content class="has-header">
        <div class="list">
          <div class="item">
            <i class="icon ion-image" style="font-size: 800%;"></i>
            <br/>
            Add a Photo Clue
          </div>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Riddle Text</span>
    <textarea placeholder="Start your riddle" rows=6 ng-model="clue.riddle"></textarea>
  </label>
          <div class="item item-icon-right" ng-click="markCurrentLocation()">
            <i class="icon ion-location"> </i> {{locationText}} {{clue.position.longitude}}

          </div>
        </div>
    </ion-content>
</ion-view>
